/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05 17, 14, 12:50:57 AM
    Author     : OJT
*/

/* Navigation bar
*/
.navbar .navbar-inner {
    box-shadow: none;
}

/* Header bar
*/
.tc-header {
    background-color: #000;
    transition: all 3s ease;
    box-shadow: none;
}

.tc-header.clearfix.row-fluid {
    margin: 0px;
    border-bottom: 5px solid #ff7f00;
    box-shadow: none;
    text-align: right;
}
#menu-llv-default-navigation {
    float: right;
    margin-right: 10%;
}

/* The navigation container */
div.navbar-inner {
    background: #000;
    display: block;
    height: 100%;
    padding: 30px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
    text-align: right;
}


/* The header background plate
*/
div.header-background-plate {
    background: url(../../images/headerplate.jpg) no-repeat scroll top center / 100%;
    width: 100%;
    min-height: 400px;
    max-height: 500px;
}